# fly.toml file generated for httpbox on 2022-08-25T11:12:12-07:00

app = "requestbox"
kill_signal = "SIGTERM"
kill_timeout = 5
processes = []

[env]
MIX_ENV = "prod"
ECTO_IPV6 = "y"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 80
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 1000
    soft_limit = 500
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

[deploy]
  release_command = "eval 'Requestbox.Release.migrate'"
